.btn-con {
    .button {
        background: #16617D;
        color: #fff;
        border: none;
        height: 40px;
        width: 111px;
    }
    
    .success {
        background: blue;
        color: #fff;
        text-transform: uppercase 
    }
    
    .outlined {
    background: #FFFFFF;
    color: #16617D;
    border: 0.75px solid #16617D;
    border-radius: 4px;
    }
    
    .primary {
        border-radius: 4px;
    }
    
    .attachment {
        width: 53px;
        border-radius: 20px;
    }
}